@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phantomsans&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


header{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(45,112,170,1) 50%, rgba(0,212,255,1) 100%); 
}
.navbar-brand img{
    width: 291.11px;
    height: 39.27px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}

h5{
    color: #363958;
}

.nike{
    color: #FA804C;
}

.infinity{
    color: #363958;
}

.btn {
    font-size: 24px;
    min-width: 196px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

.btn:active,
.btn:hover {
    outline: 0;
  }

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
.btn:hover span {
    background: none;
  }

.card img{
    background-color: #F1F1F1;
    border-radius: 10px;
}
.price{
    color: #FA804C;
}

.title{
    color: #01010a;
    font-size: 48px;
    font-weight: bold;
}

.feature{
    border-radius: 20px;
}


@media only screen and (max-width: 688px){

    h1{
        font-size: 60px;
        line-height: 60px;
    }
    .title{
        font-size: 36px;
    }

    .navbar-brand img{
        width: 192.75px;
        height: 26px;
    }
}